.highlights-container {
  display: grid;
  grid-template-areas:
    "top top top"
    "top top top"
    "left middle right"
    "bottom-left middle right";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 0.9fr 0.9fr;
  gap: 1rem;
  width: 80%;
  max-width: 70rem;
  height: 65vh;
  margin-bottom: 5rem;
}

.grid-item {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transform: scale(0.8) translateY(50px);
  animation: fadeInAssemble 1s ease-out forwards;
}

@keyframes fadeInAssemble {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(50px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.9rem;
  transition: transform 0.3s ease;
}

.grid-item img:hover {
  transform: scale(1.1);
}

.grid-item.top {
  grid-area: top;
  grid-column: span 3;
  grid-row: span 2;
}

.grid-item.small.left {
  grid-area: left;
  grid-column: span 1;
  grid-row: span 1;
}

.grid-item.tall.bottom-left {
  grid-area: bottom-left;
  grid-column: span 1;
  grid-row: span 2;
  height: calc(100% + 1rem);
}

.grid-item.tall.middle {
  grid-area: middle;
  grid-column: span 1;
  grid-row: span 2;
  height: calc(100% + 1rem);
}

.grid-item.tall.right {
  grid-area: right;
  grid-column: span 1;
  grid-row: span 2;
}

/* Mobile view styling */
@media (max-width: 768px) {
  .highlights-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0.7rem;
    width: 100%;
    height: 50vh;
    margin-bottom: 12rem;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-item {
    overflow: hidden;
    border-radius: 0.3rem;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-item.top {
    grid-column: span 2;
    grid-row: 1;
    height: calc(10vh + 2rem);
  }

  .grid-item.small.left {
    grid-column: 1;
    grid-row: 2;
    height: calc(20vh - 1rem);
  }

  .grid-item.tall.bottom-left {
    grid-column: 2;
    grid-row: 2;
    height: calc(20vh - 1rem);
  }

  .grid-item.tall.middle {
    grid-column: 1;
    grid-row: 3;
    height: calc(20vh - 1rem);
  }

  .grid-item.tall.right {
    grid-column: 2;
    grid-row: 3;
    height: calc(20vh - 1rem);
  }
}

@media (max-width: 480px) {
  .highlights-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0.7rem;
    width: 90%;
    height: 50vh;
    margin-bottom: 12rem;
    margin-left: auto;
    margin-right: auto;
  }
}
