/* General adjustments */
.panel-info {
  border: 2px solid #b6dd48;
}

span {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  text-align: center;
}

.panel-span-title {
  font-size: 1rem;
  color: #b6dd48;
  font-weight: 300;
  text-align: center;
}

.back-button {
  background-color: #222;
  outline: none;
  border: 2px solid #b6dd48;
  color: #b6dd48;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem 0.7rem;
  /* margin-top: 5rem; */
}

.judge-title-panel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.panel-info img {
  width: 15px;
  height: auto;
}

/* Mobile view adjustments */
@media screen and (max-width: 768px) {
  .main-panel {
    padding: 1.5rem;
  }

  .buttons {
    gap: 1.5rem;
  }

  .button {
    height: 100px;
    padding: 1.2rem 2rem;
  }

  .logo-judge {
    width: 90px;
    height: 90px;
  }

  .panel-info img {
    width: 12px;
    height: auto;
  }

  .back-buttonn {
    /* margin-bottom: 20.4rem; */
    top: 2rem;
    left: 5rem;
    z-index: 50;
  }

  .back-arrow {
    width: 16px;
    height: 2rem;
  }

  .panel-info {
    padding: 0.4rem 1rem;
    gap: 0.4rem;
    font-size: 0.9rem;
    justify-content: center;
  }

  span {
    font-size: 1.8rem;
  }

  .panel-span-title {
    font-size: 0.8rem;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .button {
    height: 120px;
    padding: 1rem 1.5rem;
  }

  .back-buttonn {
    margin-top: 4rem;
  }

  .panel-info img {
    width: 10px;
    height: auto;
  }

  .logo-judge {
    width: 60px;
    height: 60px;
  }

  .panel-info {
    padding: 0.3rem 1rem;
    font-size: 0.85rem;
    justify-content: center;
    gap: 0.3rem;
  }

  span {
    font-size: 1.6rem;
  }

  .panel-span-title {
    font-size: 0.8rem;
    text-align: center;
  }
}
