.team {
  margin: auto;
  min-width: 40vw;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 10%;
  overflow: hidden;
  /* border: 1px solid red; */
}

@media screen and (max-width: 768px) {
  .team {
    max-width: 70vw;
    margin-left: 0;
  }
}
