.team {
  margin: auto;
  min-width: 40vw;
  gap: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* border: 1px solid red; */
}

@media screen and (max-width: 768px) {
  .team {
    max-width: 70vw;
    margin-left: 0;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 1536px) {
  .team {
    max-width: 70vw;
    margin-left: 0;
  }
}
