.team-members {
  /* border: 1px solid #272727; */
  margin-left: 18vw;
  margin-bottom: 20rem;
}

.back-button {
  position: absolute;
  left: 1rem;
  z-index: 50;
}

.back-arrow {
  width: 2rem;
  height: auto;
}

@media screen and (max-width: 718px) {
  .team-members {
    margin-left: 0;
  }

  .back-button {
    top: auto;
    bottom: 8rem;
    left: 9rem;
  }

  .back-arrow {
    width: 3rem;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-33.33% - 1rem));
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(calc(-33.33% - 1rem));
  }
  100% {
    transform: translateX(0);
  }
}

.scroll-left {
  animation: scroll-left 20s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.scroll-right {
  animation: scroll-right 20s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.scroll-left:hover,
.scroll-right:hover {
  animation-play-state: paused;
}

.carousel-container {
  width: 200%;
  display: flex;
}

@media (max-width: 640px) {
  .scroll-left,
  .scroll-right {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
