.social-links {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: x-small;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.socials {
  display: flex;
  gap: 15px;
}

.member-name {
  font-weight: bolder;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  gap: 5px;
}

.member-card {
  border-radius: 100px;
  background-color: #272727;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 65px;
  margin: 10px 0;
}

.member-card-circle {
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #818181;
}
