.social-links {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: x-small;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.socials {
  display: flex;
  gap: 15px;
}

.member-name {
  font-weight: bolder;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  gap: 5px;
}

.member-card {
  border-radius: 100px;
  background-color: #272727;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 65px;
  margin: 10px 0;
}

.member-card-circle {
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #818181;
}

.team-member-card-3 {
  margin-left: 50%;
  width: 300px;
}

.team-member-card-2 {
  margin-left: 25%;
  width: 350px;
}

.team-member-card-1 {
  border: 1px solid white;
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3);
  width: 400px;
}

.team-member-circle-3,
.team-member-circle-2 {
  height: 75px;
}

.team-member-circle-1 {
  height: 100px;
}

.team-member-name-3,
.team-member-name-2 {
  font-size: x-large;
}

.team-member-name-1 {
  font-size: xx-large;
}

.team-member-link-logo {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .team-member-card-3,
  .team-member-card-2,
  .team-member-card-1 {
    width: 90%;
  }
  .team-member-card-3 {
    margin-left: 30%;
  }
  .team-member-card-2 {
    margin-left: 15%;
  }

  .member-name {
    margin-left: 0px;
  }

  .member-card {
    padding-right: 20px;
  }

  .team-member-circle-3,
  .team-member-circle-2,
  .team-member-circle-1 {
    height: 50px;
  }

  .team-member-name-3,
  .team-member-name-2 {
    font-size: medium;
  }

  .team-member-name-1 {
    font-size: large;
  }
}
