
.logo-square {
  position: absolute;
  width: 50px; /* Adjust square size as needed */
  height: 50px;
  background-color: #171717; /* Default color for desktop */
  border-radius: 4px;
}

.container{
  box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.7);
}

.outer-circle{
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  border-radius: 50%;
  background-color: #020202;
  box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.7);
}

.center-image{
  position: 'absolute';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: 'hidden';
}

/* For mobile devices, set inner circle color same as outer circle */
@media only screen and (max-width: 768px) {

  
  .inner-circle{
    box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.7);
    background-color: #020202;
  }
    .outer-circle {
      box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.7);
      /* Same as the outer circle color */
    }

    .center-image{
      z-index: 1;
    }

    .logo-square {
      background-color: #171717; 
      z-index: 2;
    }

    img {
      z-index: 2;
      opacity: 1;
      width: 100%;
      height: 100%;
    }
  }
  