body {
  background: radial-gradient(circle, #171717, #000000);
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.scroll-content-container {
  position: absolute;
  left: 0;
  width: 66.67%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow-y: hidden;
  z-index: 1;
}

.cirdiv {
  height: 100%;
  width: 50%;
  display: flex;
  margin-left: 75%;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

.PieChart {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 100%;
  height: 50%;
  z-index: 0;
  transition: transform 1s ease-in-out;
}

.navigation-buttons {
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 80vh;
  z-index: 10;
}

.nav-button {
  background-color: #b6dd48;
  color: #000000;
  /* box-shadow: 0 0px 12px #b0d944; */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s ease;
  border: 1px #b6dd48 solid;
}

.nav-button:hover {
  color: #b0d944;
  background-color: #000000;
  transform: scale(1.1);
}

.nav-button:disabled {
  background-color: transparent;
  color: transparent;
  cursor: none;
  border: none;
  box-shadow: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(176, 217, 68, 0.8);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(176, 217, 68, 1);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(176, 217, 68, 0.8);
  }
}

.nav-button.down.animate {
  animation: pulse 1.5s infinite ease-in-out;
}

@media (max-width: 768px) {
  html,
  body {
    display: flex;
    align-items: center;
    overflow-y: hidden;
  }

  .cirdiv {
    width: 100vw;
    margin-top: 105vh;
    margin-left: 0px;
    rotate: 90deg;
    align-items: center;
    justify-content: center;
  }

  .scroll-content-container {
    top: 0%;
    width: 100%;
    height: 80vh;
  }

  .nav-button {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }

  .navigation-buttons {
    position: fixed;
    top: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    rotate: 180deg;
    z-index: 10;
  }

  .nav-button.up {
    position: absolute;
    left: 62.5vw;
    transform: rotate(90deg);
  }

  .nav-button.down {
    position: absolute;
    right: 12.5vw;
    transform: rotate(90deg);
  }
}
